<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>92BF456C-7F8B-4910-9175-F3CB8601A999.playgroundpage</string>
		<string>E37B5A21-F37C-4D92-9BD1-B6EDD0BF2B73.playgroundpage</string>
	</array>
</dict>
</plist>
